@import "tailwindcss";

:root {
	/* Background colors */
	--primary-dark-background: #212121;
	--secondary-dark-background: #2c2c2c;
	--muted-background: #333;

	/* Text colors */
	--primary-text: #e0e0e0;
	--secondary-text: #b0b0b0;
	--accent-text: #8a8a8a;
	--heading-text: #ffffff;

	/* Magenta accents */
	--primary-magenta: #d500f9;
	--hover-magenta: #ab47bc;
	--dark-magenta: #aa00ff;

	/* Other colors */
	--success-color: #28a745;
	--error-color: #dc3545;
	--warning-color: #ffc107;

	/* Borders and dividers */
	--primary-border: #333333;
	--divider-color: #444444;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
	overflow: auto;
	scrollbar-width: thin;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	scrollbar-width: thin;
}

body {
	background-color: var(--primary-dark-background);
	color: var(--primary-text);
	overflow-y: auto;
	/* Optimize text rendering */
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.will-change-transform {
	will-change: transform;
}
